<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <nav>
      <div class="logo">Move Your Way</div>
      <div class="nav-links">
        <a href="/">Dashboard</a>
        <a href="/addactivity">Add Activity</a>
        <a href="/history">History</a>
        <a href="/about">About</a>
      </div>
    </nav>

    <main>
      {{{body}}}
    </main>
  </body>
</html>